@import "~bootstrap/scss/bootstrap";
@import "variables";

@import "partials/typography";
@import "partials/header";

@import "partials/products";
@import "partials/footer";

.cart-block-links li {
    margin-right: 30px;
  }
  
  @media screen and (min-width: 1200px) and (max-width: 1399px) {
    .cart-block-links li {
      margin-right: 20px;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .cart-block-links li {
      margin-right: 15px;
    }
  }
  
  .cart-block-links li a {
    font-size: 16px;
    font-family: $font-family;
    font-weight: 700;
    text-align: center;
    line-height: 26px;
  }
  
  .cart-block-links li a i {
    font-size: 28px;
  }
  
  .cart-block-links .cart-total {
    top: -5px;
    margin-left: 20px;
  }
  
  .cart-block-links. a {
    color: #1d1d1d;
  }
  
  .cart-block-links a:hover {
    color: #f33535;
  }
  